table, td {
    border:1px solid black;
    border-collapse: collapse;
}
td {
    width: 50%;
    height: 100vh;
}
table{
    width: 100%;
}

tr {
    color: aliceblue ;
}

.bg-green {
	background-color:rgb(80, 149, 63) 
}

.bg-red {
	background-color: rgb(232, 82, 82)
}
body{
    margin: 0%;
}